html, body {
  height: 100%;
  overflow-x: hidden; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.nopadding-left-right {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important; }

.nopadding-top-bottom {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.scrollable-panel {
  height: auto;
  overflow-y: auto; }

#editor {
  height: 100%;
  background-image: url(./images/grid.png); }
  #editor #toolbar {
    max-height: 100px; }
    #editor #toolbar .row {
      padding-bottom: 0px !important;
      margin-bottom: 0px !important; }
  #editor #wrapper {
    height: calc(100vh - 70px); }
    #editor #wrapper #topbar {
      height: 10px; }
      #editor #wrapper #topbar.navbar {
        margin-bottom: 0px; }
    #editor #wrapper #bottombar {
      height: 10p; }
    #editor #wrapper .actions {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      /* Scrollable contents if viewport is shorter than content. */
      border-right: 1px solid #eee; }
    #editor #wrapper #actions {
      overflow: visible;
      -webkit-transition: left .2s ease-in-out;
      transition: left .2s ease-in-out;
      /*padding-left: 0;
			padding-right: 0;*/ }
      #editor #wrapper #actions.vertical {
        height: 100%;
        min-width: 130px;
        max-width: 130px;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important; }
        #editor #wrapper #actions.vertical #actions-menu .nav {
          margin-bottom: 20px; }
        #editor #wrapper #actions.vertical #actions-menu .nav-item {
          width: 100%; }
        #editor #wrapper #actions.vertical #actions-menu .nav-item + .nav-item {
          margin-left: 0; }
        #editor #wrapper #actions.vertical #actions-menu .nav-link {
          border-radius: 0; }
      #editor #wrapper #actions.horizontal {
        width: 100%;
        min-height: 80px;
        max-height: 80px; }
        #editor #wrapper #actions.horizontal #actions-menu .nav {
          margin-bottom: 20px; }
        #editor #wrapper #actions.horizontal #actions-menu .nav-item {
          height: 100%; }
        #editor #wrapper #actions.horizontal #actions-menu .nav-item + .nav-item {
          margin-left: 0; }
        #editor #wrapper #actions.horizontal #actions-menu .nav-link {
          border-radius: 0; }
      #editor #wrapper #actions #navigation {
        height: 100%;
        padding-right: 0px;
        position: relative;
        z-index: 10;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none; }
    #editor #wrapper #tab {
      height: 100%;
      padding-left: 0px; }
      #editor #wrapper #tab .card {
        height: 100%; }
    #editor #wrapper #canvas-wrapper {
      height: 100%; }
      #editor #wrapper #canvas-wrapper #viewport {
        overflow: auto;
        height: 100%; }
        #editor #wrapper #canvas-wrapper #viewport .canvas-container {
          margin: 80px auto 5px;
          -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);
                  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084); }
          #editor #wrapper #canvas-wrapper #viewport .canvas-container::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            background-color: white;
            -webkit-filter: opacity(70%);
                    filter: opacity(70%); }
    #editor #wrapper #layers {
      max-height: 100%;
      overflow-y: auto; }
    #editor #wrapper #panel {
      /*display: none;
			position: absolute;
			overflow: hidden;*/
      /*top: 15px;*/ }
